.item {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;

  &__ownerImage {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__owner {
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__nameLink {
    max-width: 200px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

   @media screen and (max-width: 500px) {
    &__owner {
      max-width: 40px;
    }
  }
}
